*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --main-font : 'Roboto', sans-serif;
    --main-color : #fff;
    --secondary-color : #1f1d1d;
    --third-color : #efeef0;
    --main-header-size : 3.0rem;
    --secondary-header-size : 2.0rem;
    --default-font-size : 1.6rem;
    --secondary-font-size : 1.4rem;
    --min-width : 320px;
    --max-width : 1800px; 
}
html
{
    font-family: var(--main-font);
    font-size: 62.5%;
}
body
{
    min-height: var(--min-width);
    max-width: var(--max-width);
}
ul
{
    list-style: none;
}
button
{
    cursor: pointer;
}
header
{
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 30px 0px 30px 22px;
}
header img
{
    width: 50px;
    height: 50px;
    margin-right: 14px;
}
header h1
{
    font-size: var(--main-header-size);
    font-weight: bold;
    color : var(--main-color);
}
main
{
    background-color: var(--main-color);
    padding: 61px 30px 110px 30px;
    color: var(--secondary-color);
}
.cheking-option
{
    margin-bottom: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.check
{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.check input
{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.check p
{
    font-size: var(--default-font-size);
}
.check-advertisement
{
    font-style: italic;
    font-size: var(--secondary-font-size);
    line-height: 2.0rem;
}
.text-box > *
{
    max-width: 415px;
    margin-right: auto;
    margin-left: auto;
}
.inputs
{
    margin-bottom: 74px;
}
.input-data
{
    width: 100%;
    height: 274px;
    border: 3px solid #812c2c;
    margin-bottom: 50px;
    padding: 18px 25px 18px 25px;
    border-radius: 25px;
    background-color: var(--third-color);
}
.input-images
{
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
}
#button-minus
{
    margin: 0px auto 15px auto;
}
#button-plus
{
    margin: 18px auto 0px auto;
}
.standard-input
{
    width: 100%;
    height: 41px;
    border-radius: 20px;
    padding: 10px 10px 10px 22px;
    margin-bottom: 18px;
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-family: var(--main-font);
}
.standard-input::placeholder
{
    opacity: 1;
    color: var(--secondary-color);
    font-size: var(--default-font-size);
    font-family: var(--main-font);
    font-style: italic;
}
#replace-button
{
    display: block;
    width: 131px;
    height: 41px;
    border-radius: 15px;
    background-color: #f32a2a;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: var(--default-font-size);
    margin: 0 auto;
}
.text-area-buttons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#button-copy
{
    width: 75px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    font-size: var(--default-font-size);
    color: var(--secondary-color);
    font-family: var(--main-font);
}
#area-texto
{
    width: 100%;
    height: 415px;
}
.general-button
{
    width: 42px;
    height: 42px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}
#backward-arrow
{
    background-image: url("../assets/backward_arrow.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    margin-right: 5px;
}
#foward-arrow
{
    background-image: url("../assets/foward_arrow.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    margin-left: 5px;
}
#delete-button
{
    background-image: url("../assets/trash-can.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    margin-left: 5px;
}
#area-texto
{
    border-radius: 32px;
    border: 2px solid var(--secondary-color);
    padding: 15px;
    font-family: var(--main-font);
    color: var(--secondary-color);
    font-size: var(--default-font-size);
}
footer
{
    background-color: var(--secondary-color);
    padding: 35px 33px 28px 33px;
    color: var(--main-color);
}
.section-name
{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.section-name img
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.section-name h1
{
    font-size: var(--main-header-size);
}
.title-section
{
    font-size: var(--secondary-header-size);
    margin-bottom: 25px;
}
.gmail-section p
{
    font-size: var(--default-font-size);
    margin-bottom: 25px;
}
.contact-list
{
    display: flex;
    justify-content: space-between;
}
.contact-list span
{
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}
.contact-list li:first-child span
{
    background-image: url("../assets/linkedin-white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
}
.contact-list li:nth-child(2) span
{
    background-image: url("../assets/github-white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}
.contact-list li:nth-child(3) span
{
    background-image: url("../assets/instagram-white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
}
.contact-list li:last-child span
{
    background-image: url("../assets/twitter-white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
}
.credits
{
    margin-top: 70px;
    text-align: center;
    color: var(--main-color);
    font-size: var(--secondary-font-size);
}
.icon-credits
{
    margin-bottom: 20px;
    line-height: 2.0rem;
}
.icon-credits a
{
    color: red;
}